In [7]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
SIZE_LIMIT =  5000000 # this bumber is in bytes

In [10]:
counter = int(open("counter.txt", "r").readlines()[0])
final_list = []
for i in range(counter):
        dataframe = pd.read_csv("{}.csv".format(i+1))
        for i in list(dataframe['blog']):
            print(i)
            i = i.replace("\r\n","<br>")
            final_list.append(i)

final_list

hello world
helllo everyone!!
this is my first blog
hey guys this is my second blog!
shubhanshuu mishra

['hello world',
 'helllo everyone!!<br>this is my first blog',
 'hey guys this is my second blog!<br>shubhanshuu mishra']

In [8]:
x = {"blog":['test blog','shubhanshu mishra', "gama delta"]}
data_1 = pd.DataFrame(x)
data_1.to_csv("personal_thoughts.csv")

In [27]:
data1  = pd.read_csv("personal_thoughts.csv")

In [28]:
data_frame = pd.DataFrame(['hello world'], columns =['blog'])

In [30]:
data1.append(data_frame)

C:\Users\hp\AppData\Local\Temp\ipykernel_13512\2706227200.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data1.append(data_frame)

   Unnamed: 0               blog
0         0.0          test blog
1         1.0  shubhanshu mishra
2         2.0         gama delta
0         NaN        hello world

In [17]:
data_2 = open("counter.txt", "w")
data_2.write("2")
data_2.close()

In [12]:
import os
size_1 = os.path.getsize("personal_thoughts.csv")

In [13]:
size_1 # this number is in bytes

55

In [4]:
count = open("counter.txt", "r")
count.readlines()

['3']

In [7]:
import os
def add_thought(thoughts):
    count = int(open("counter.txt", "r").readlines()[0])
    # adding main logic
    number_bytes = os.path.getsize("{}.csv".format(count))
    if(number_bytes < SIZE_LIMIT):
        dataframe = pd.read_csv("{}.csv".format(count))
        dataframe = pd.concat([dataframe,pd.DataFrame([thoughts], columns =['blog'])],axis = 0)
        # editing
        x = list(dataframe.columns)
        x.pop()
        dataframe.drop(x, axis =1, inplace = True)
        dataframe.to_csv("{}.csv".format(count))
        return dataframe
    else:
        # appending counter
        file = open("counter.txt", "w")
        file.write(str(count+1))
        file.close()
        # creating new dataframe
        dataframe = pd.DataFrame([thoughts], columns =['blog'])
        x = list(dataframe.columns)
        x.pop()
        dataframe.drop(x, axis =1, inplace = True)
        dataframe.to_csv("{}.csv".format(count+1))
        return dataframe

In [8]:
add_thought("hello world")

          blog
0  hello world

In [27]:
def add_project(project_name,image_link, project_link, description):
    count = int(open("counter_2.txt", "r").readlines()[0])
    # adding main logic
    number_bytes = os.path.getsize("project{}.csv".format(count))
    if(number_bytes < SIZE_LIMIT):
        dataframe = pd.read_csv("project{}.csv".format(count))
        dataframe = pd.concat([dataframe,pd.DataFrame([[project_name,image_link, project_link, description]],
                                                       columns =['project_name','image_link', 'project_link', 'description'])],
                                                       axis = 0,ignore_index=True)
        # editing
        print(dataframe)
        x = list(dataframe.columns)
        for i in range(4):
            x.pop()
        dataframe.drop(x, axis =1, inplace = True)
        dataframe.to_csv("project{}.csv".format(count))
        return dataframe
    else:
        # appending counter
        file = open("counter_2.txt", "w")
        file.write(str(count+1))
        file.close()
        # creating new dataframe
        dataframe = pd.DataFrame([[project_name,image_link, project_link, description]], 
                                 columns =['project_name','image_link', 'project_link', 'description'],
                                   axis = 0, ignore_index = True)
        print(dataframe)
        x = list(dataframe.columns)
        for i in range(4):
            x.pop()
        dataframe.drop(x, axis =1, inplace = True)
        dataframe.to_csv("project{}.csv".format(count+1))
        return dataframe

In [30]:
add_project("hello world","hello world","hello world","hello world")

   Unnamed: 0  description project_name   image_link project_link
0         0.0  hello world  hello world  hello world  hello world
1         1.0  hello world  hello world  hello world  hello world
2         NaN  hello world  hello world  hello world  hello world

   description project_name   image_link project_link
0  hello world  hello world  hello world  hello world
1  hello world  hello world  hello world  hello world
2  hello world  hello world  hello world  hello world

In [32]:
# deleting blog
data_1 = pd.read_csv("1.csv")
data_1

   Unnamed: 0         blog
0           0  testing one